<!DOCTYPE html>
<html>
  <head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta charset="utf-8" />
   <meta property="og:title" content="<%=title%>"/> 
   <meta property="og:url" content="<%=url%>"/>
   <meta property="og:type" content="website"/>
   <meta property="og:image" content="<%=thumbnail%>"/> 
   <meta property="og:site_name" content="리얼시티 | RealCity"/>
   <meta property="og:description" content="<%=content%>"/> 
   <meta name="twitter:card" content="photo"/> 
   <meta name="twitter:title" content="<%=title%>"/> 
   <meta name="twitter:description" content="<%=content%>"/>
   <meta name="twitter:image" content="<%=thumbnail%>"/>
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="app">
      <div><%=title%></div>      
      <div><%=content%></div>
      <img src=<%=thumbnail%>/>
    </div>
  </body>
</html>
